.heading {
  padding-top: 40px; /* Add padding inside the content box */
  text-align: center;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}
.align-button-content {
  display: flex;
  align-items: center; /* Align icon and text vertically */
  gap: 8px; /* Add some space between the text and the icon */
}
